sudo: required
dist: trusty
language: node_js
node_js:
  - 4.4

addons:
  firefox: latest
  apt:
    sources:
      - google-chrome
    packages:
      - google-chrome-stable

install:
  - npm install -g grunt-cli && npm install

before_script:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
